.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.title {
  color: var(--primary-color, #f76857);
  display: flex;
  align-items: center;
}

.icon {
  vertical-align: middle;
  margin-left: 4px;
}
